* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.num1 div
{
    height: 100px;
    width: 100px;
    background-color: #F00;
}



.num2 section,
.num3 section,
.num4 section,
.num5 section
{
    margin-top: 20px;
}

.num3 .liste-item,
.num4 .liste-item,
.num5 .liste-item
{
    margin-top: 0px;
}

.num2 .item,
.num3 .item,
.num4 .item,
.num5 .item
{
    padding : 5px;
    border: 1px solid #CCC;
    width: 400px;
    display: flex;
    font-size: 16px;
}
.num2 .item .nom,
.num3 .item .nom,
.num4 .item .nom,
.num5 .item .nom
{
    flex-grow: 1;
}
.num2 .btn,
.num3 .btn,
.num4 .btn,
.num5 .btn
{
    display: inline-block;
    height: 0px;
    width: 0px;
    margin-left: 10px;
}
.num2 .fleche-haut,
.num3 .fleche-haut,
.num4 .fleche-haut,
.num5 .fleche-haut
{
    border-bottom: 15px solid #000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;   
}

.num2 .fleche-bas,
.num3 .fleche-bas,
.num4 .fleche-bas,
.num5 .fleche-bas
{
    border-top: 15px solid #000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;   
}
.num3 .barre,
.num4 .barre,
.num5 .barre
{
    text-decoration:line-through;
}

.num3 .item:first-child .fleche-haut,
.num3 .item:last-child .fleche-bas,
.num4 .liste-item .item:first-child .fleche-haut,
.num4 .liste-item .item:last-child .fleche-bas
.num5 .liste-item .item:first-child .fleche-haut,
.num5 .liste-item .item:last-child .fleche-bas
{
    visibility : hidden;
}


.num1 input[type='text'],
.num5 input[type='text']
{
    height: 18px;
    border: 2px solid #000;
    padding : 5px;
    font-size: 16px;
    width: 400px;
}


footer{
    position: fixed;
    bottom: 0px;
    margin-top: 64px;
    margin-bottom: 64px;
}
